.input-way {
  border-bottom: 1px #eee solid;
}
.way {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 25px;
}
.ant-radio-inner {
  border-color: #EE8061 !important;
}
.ant-radio-inner:after {
  background-color: #EE8061 !important;
}
.ant-radio-group {
  width: 100% !important;
}
.wechat-icon {
  color: #377022;
  font-size: 25px;
}
.pay-icon {
  color: #EC6733;
  font-size: 25px;
}
.title-wechat {
  font-size: 1.4rem;
  margin-left: 5px;
  position: absolute;
  margin-top: 8px;
}
.btn-register {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  margin: 15px 0;
}
.register {
  width: 70%;
  font-size: 1.4rem;
  background: #EE8161;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
  text-align: center;
}
.register:hover {
  background: #EC6733;
}
.order-total {
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}
.border {
  border-bottom: 1px #eee solid;
  padding: 10px;
}
.hide {
  display: none;
}
.show-way {
  display: flex;
  display: -webkit-flex;
}
