.notice-bar {
  padding: 5px 5px 5px 5px;
  display: flex;
  display: -webkit-flex;
}
.notice-icon {
  background: #FFEA32;
  color: #000;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  margin-left: 15px;
}
.icon-notice {
  font-size: 1.4rem;
}
.notice-title {
  font-size: 1rem;
}
.notice {
  color: #EE7A4C;
  font-size: 1rem;
  margin-top: 4px;
  margin-left: 80px;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  width: 70%;
}
.notice-item {
  width: 100%;
  position: absolute;
  top: 0;
}
.notice-show {
  transition: opacity 1s;
  animation: show 1s;
  opacity: 1;
}
.notice-hide {
  transition: opacity 1s;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation: hide 1s;
  opacity: 0;
}
@keyframes show {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes hide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-10px);
  }
}
