.user-top {
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  left: 20px;
  margin-top: -50px;
  border: 2px #fff solid;
}
.user-bottom {
  padding: 10px;
  padding-left: 85px;
  background: #EE8061;
  color: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}
.balance {
  margin: 0 10px;
}
.user-mess {
  position: absolute;
  top: -48px;
  left: 95px;
}
.user-name {
  font-size: 1.6rem;
  color: #333;
}
.user-tel {
  font-size: 1.4rem;
}
